

<h2>Mod Info</h2>
<div class="editmod-info">
	<form name="modinfo">
		<span class="editmod-info-desc">Internal name:</span>
		<input name="internalname" ng-model="mod['internal-name']" required />
		<span class="editmod-info-error" ng-show="modinfo.internalname.$error.required">Required</span>
		<br />		
		<span class="editmod-info-desc">Name:</span>
		<input name="modname" ng-model="mod['name']" required />
		<span class="editmod-info-error" ng-show="modinfo.modname.$error.required">Required</span>
		<br />		
		<span class="editmod-info-desc">Author:</span>
		<input name="author" ng-model="mod['author']" required />
		<span class="editmod-info-error" ng-show="modinfo.author.$error.required">Required</span>
		<br />		
		<span class="editmod-info-desc">Description:</span>
		<input name="description" ng-model="mod['description']"/>
		<br />		
		<span class="editmod-info-desc">URL:</span>
		<input name="url" ng-model="mod['url']"/>
		<br />
		<span class="editmod-info-desc">Version:</span>
		<input name="version"  ng-model="mod['version']" required />
		<span class="editmod-info-error" ng-show="modinfo.version.$error.required">Required</span>
		<br />
		<br />
	</form>
</div>

<div class="editmod-controls">
	<div class="editmod-controls-save">
		<a href="javascript:void(0)" class="btn" ng-click="saveModInfo()">Save</a>
		<a href="javascript:void(0)" class="btn" ng-click="resetModInfo()">Reset</a>
		<a href="#/modlist" class="btn">Back</a>
	</div>
</div>

<h2>Files</h2>
<div class="editmod-filetree" id="filetree"></div>
<br />

<div class="editmod-controls">
	<div class="editmod-controls-tree">	
		<a href="javascript:void(0)" class="btn" ng-click="renameFile()">Rename</a>
		<a href="javascript:void(0)" class="btn" ng-click="editFile()">Edit</a>
		<a href="javascript:void(0)" class="btn" ng-click="deleteFile()">Delete</a>
		<a href="javascript:void(0)" class="btn" ng-click="createFile()">Create</a>
		<a href="javascript:void(0)" class="btn" ng-click="refreshFiles()">Refresh</a>
		<a href="#/modlist" class="btn">Back</a>
	</div>
</div>