

<h2>Mod Info</h2>
<div class="editmod-info">
	<div>Internal name: <input class="editmod-internal-name" value="{{mod['internal-name']}}" /></div>
	<div>Name: <input class="editmod-name" value="{{mod['name']}}" /></div>
	<div>Author: <input class="editmod-author" value="{{mod['author']}}" /></div>
	<div>Version: <input class="editmod-version" value="{{mod['version']}}" /></div>
</div>

<h2>Files</h2>
<p>rawr</p>

<div class="editmod-controls">
	<a href="javascript:void(0)" class="btn" ng-click="saveMod()">Save</a>
	<a href="#/modlist" class="btn">Cancel</a>
</div>